@model SportsStore.Domain.Entities.ShippingDetails

@{
    ViewBag.Title = "购物结算";
}

<h2>立即结算</h2>
<p>请输入送货地址：</p>

@using (Html.BeginForm())
{
    @Html.ValidationSummary()
    <h3>发运</h3>
    <div class="form-group">
        <label>姓名：</label>
        @Html.TextBoxFor(x => x.Name, new { @class = "form-control" })
    </div>

    <h3>地址</h3>
    foreach (var property in ViewData.ModelMetadata.Properties)
    {
        if (property.PropertyName != "Name" && property.PropertyName != "GiftWrap")
        {
            <div class="form-group">
                <label>@(property.DisplayName ?? property.PropertyName)：</label>
                @Html.TextBox(property.PropertyName, null, new { @class = "form-control" })
            </div>
        }
    }

    <h3>选项</h3>
    <div class="checkbox">
        <label>
            @Html.EditorFor(x => x.GiftWrap)
            礼品包装
        </label>
    </div>

    <div class="text-center">
        <input class="btn btn-primary" type="submit" value="完成订单" />
    </div>
}